
/* .slider-item {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding-bottom: 42px;
}
.slider-item .slider-btn {
  width: 47px;
  height: 47px;
  background-color: #2a2a2a;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
}
.slider-item .slider-btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 50%;
  margin-top: -8px;
  right: 35%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(135deg);
}
.slider-item .slider-btn:last-child::after {
  right: 40%;
  transform: rotate(-45deg);
}
.slider-item .wrapper {
  display: flex;
  justify-content: center;
} */

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>img {
  /* line-height: 250px;
  font-size: 100px;
  text-align: center; */
  display: flex;
  align-items: center;
}

.product-description {
  position: relative;
  padding-bottom: 900px;
}
.product-description-form {
  padding-top: 73px;
  padding-bottom: 122px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: -42px;
  border: 1px solid #eaeaea;
  background-color: white;
}
.product-description .gender-collection {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.product-description .gender-collection::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #f16d7f;
  right: 0;
  left: 35px;
  bottom: -16px;
}
.product-description .gender-collection::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #636363;
  left: 0;
  bottom: -15px;
}
.product-description .gender-collection-name {
  margin-top: 37px;
  margin-bottom: 17px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.product-description p {
  margin: 26px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.product-description .production-info {
  display: flex;
  justify-content: center;
}
.product-description .production-info .material {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-description .production-info .material span {
  color: #2f2f2f;
}
.product-description .production-info .design {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-description .production-info .design span {
  color: #2f2f2f;
}
.product-description .collection-price {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.product-description .collection-price::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 43px;
  left: 20%;
  width: 642px;
  height: 1px;
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
}
.product-description .collection-form-buy {
  width: 642px;
  max-width: 96%;
  margin: 0 auto;
  margin-top: 107px;
}
.product-description .collection-form-buy .collection-ability {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.product-description .collection-form-buy .collection-ability .collection-color {
  position: relative;
}
.product-description .collection-form-buy .collection-ability .collection-color select {
  padding-left: 37px;
}
.product-description .collection-form-buy .collection-ability .collection-color::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #f16d7f;
  left: 14px;
  top: 65%;
}
.product-description .collection-form-buy .collection-ability select, .product-description .collection-form-buy .collection-ability input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.product-description .collection-form-buy h3 {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.product-description .collection-form-buy input {
  padding: 0 17px;
}
.product-description .collection-form-buy .btn-add-to-cart {
  margin-top: 28px;
  width: 89%;
  padding: 16px 0;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
}
.product-description .collection-form-buy .btn-add-to-cart::after {
  content: "";
  display: inline-block;
  background-image: url(../../imgSinglePage/cartbtn.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
  position: absolute;
  right: 55%;
}

.like-also h3:first-child {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 52px;
  text-transform: uppercase;
}
.like-also-products {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.like-also .item {
  margin-bottom: 60px;
  position: relative;
}
.like-also .item a img {
  background-color: #e9e9e9;
  width: 261px;
  height: 280px;
}
.like-also .item-name {
  z-index: 1;
  position: relative;
  padding: 17px 15px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.like-also .item-price {
  z-index: 1;
  position: relative;
  padding-left: 15px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.like-also .item .hover {
  display: none;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  opacity: 0.85;
  width: 263px;
  height: 364px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.like-also .item .bgd {
  padding-top: 98px;
  width: 263px;
  height: 284px;
  background-color: #3a3838;
}
.like-also .item .add-to-cart {
  margin-left: 70px;
  width: 123px;
  height: 39px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: #3a3838;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}
.like-also .item .add-to-cart img {
  width: 23px;
  height: 22px;
  margin-right: 8px;
  margin-left: 12px;
}
.like-also .item:hover .hover {
  display: block;
}


/*# sourceMappingURL=newarrivials.css.map */
